.popularSection {
  width: 100%;
}

.container {
  width: 100%;
  padding: 64px 20px;
  margin: 0 auto;
}

.popularHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.popularHeaderTitle {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.popularHeaderLink {
  min-width: 114px;
  padding: 12px 11px;
}

.noLocations {
  font-size: 18px;
  color: var(--color-coral-darkest);
  text-align: center;
  width: 100%;
}

.swiper {
  width: 100%;
  margin-bottom: 40px;
}

.swiperSlide {
  width: 100%;
  height: auto;
  display: flex;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 10px;
}

.btnPrev svg,
.btnNext svg {
  fill: currentColor;
  height: 100%;
}

.btnPrev,
.btnNext {
  width: 48px;
  height: 48px;
  padding: 12px;
  color: var(--color-coral-darkest);
  background: var(--color-coral-lighter);
}

@media (hover: hover) {
  .btnPrev:hover,
  .btnNext:hover {
    color: var(--color-coral-darkest);
    background: var(--color-neutral-lightest);
    border: 1px solid var(--color-coral-light);
  }
}

.btnPrev:focus-visible,
.btnNext:focus-visible,
.btnPrev:active,
.btnNext:active {
  color: var(--color-coral-darkest);
  background: var(--color-coral-light);
  border: 1px solid var(--color-coral-light);
}

.btnPrev:global(.swiper-button-disabled),
.btnNext:global(.swiper-button-disabled) {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #f2f2f2;
}

.iconPrev,
.iconNext {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 64px 32px;
  }

  .popularHeaderTitle {
    font-size: 44px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 72px 64px;
  }

  .popularHeaderTitle {
    font-size: 52px;
  }
}