.pageHeader {
  padding: 32px 32px 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.locationsContainer {
  padding: 32px 20px 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.locationsTitle {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}
@media screen and (min-width: 768px) {
  .locationsContainer {
    padding: 32px 32px 64px;
    gap: 40px;
  }
  .locationsTitle {
    font-size: 44px;
  }
}
@media screen and (min-width: 1440px) {
  .pageHeader {
    padding: 48px 32px 0;
  }
  .container {
    max-width: 1312px;
  }
  .locationsContainer {
    padding: 48px 64px 72px;
  }
  .locationsTitle {
    font-size: 52px;
  }
}
